* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit
}

ul {
    list-style: none;
}

body {
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    background: url(../img/background_top.jpg) center / cover no-repeat, linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%);
    height: 1024px;

    &__header {
        padding-top: 218px;
        max-width: 780px;
    }

    &__heading {
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
    }

    &__lead {
        max-width: 480px;
        margin-top: 32px;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
    }

    &__btn {
        font-family: Montserrat, sans-serif;
        border: none;
        background: #9C0332;
        color: #FFFFFF;
        margin-top: 44px;
        width: 234px;
        height: 48px;
        border-radius: 30px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        transition: background-color .4s;

        &:hover {
            background-color: #EB443F;
            cursor: pointer;
        }
    }
}

.menu {
    background-color: #000915;
    padding-top: 128px;
    padding-bottom: 128px;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;

    &__game-box {
        position: relative;
        width: 378px;
        height: 300px;
        border-radius: 16px;
        transition: all .4s;

        &:hover {
            border: 3px solid #44D2FF;
        }

        &1 {
            background: url(../img/background_game1.jpg);
        }

        &2 {
            background: url(../img/background_game2.jpg);
        }

        &3 {
            background: url(../img/background_game3.jpg);
        }
    }

    &__game-name {
        position: absolute;
        bottom: 32px;
        left: 32px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
    }
}

.game-seasons {
    padding-top: 230px;
    padding-bottom: 230px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 130px;
    background-color: #000915;

    &__info {
        height: 334px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__heading {
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
    }

    &__text {
        margin-top: 32px;
        max-width: 584px;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
    }

    &__btn {
        font-family: Montserrat, sans-serif;
        border: none;
        background: #9C0332;
        color: #FFFFFF;
        margin-top: 32px;
        width: 234px;
        height: 48px;
        border-radius: 30px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        transition: background-color .4s;

        &:hover {
            background-color: #EB443F;
            cursor: pointer;
        }

        &__img {
            margin-top: 64px;
            max-width: 485px;
        }
    }
}

@import 'mobile';